<!--when the user opens the URL, the browser will sent a GET request-->

<!DOCTYPE html> <!--Tells the navigator this file is html5-->
<html xmlns :th="http://www.thymeleaf.org"> <!--Declares we will use Thymeleaf-->

<head>
    <meta charset="UTF-8"> <!--defines text codification to show chracters like ö, ü, ä-->
    <title>BSI Formular</title> <!--webiste name-->
</head>

<body>
    <form action="/bsi" method="post"> <!--form creates a formular-->
        <!--action defines where the data will be sent--> <!--/bsi is the servers route (endpoint)-->
        <!--method defines how the data will be sent (when clicking on submit)-->
        <label for="input1">Körpergröße in cm</label> <!--for and id must be the same-->
        <input type="number" id="input1" name="kgroesse" required><br><br> <!--name = variable's name that will be sent to the server-->
        
        <label for="input2">Schuhgröße</label>
        <input type="number" id="input2" name="sgroesse" required><br><br>

        <label for="input3">Semesterzahl</label>
        <input type="number" id="input3" name="semzahl" required><br><br>
        
        <button type="submit">OK</button>
    </form>
</body>
</html>